body {
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 50px;
  background: rgb(16, 23, 42);
  background: linear-gradient(
    90deg,
    rgba(16, 23, 42, 1) 51%,
    rgba(17, 30, 66, 1) 100%
  );
  color: #8396bd;
}

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

.highlight-text {
  color: #c5d0ec;
}

.portfolio {
  display: flex; /* Enables Flexbox */
  justify-content: space-between; /* Places space between the columns */
  gap: 20px; /* Optional: Adds space between columns */
}

.column {
  flex: 1; /* Each column takes up an equal amount of space */
  padding: 20px;
  min-width: 200px; /* Ensures columns don't shrink too much on smaller screens */
}

.nav-bar {
  margin-top: 75px;
  width: max-content;
}

.nav-bar ul {
  list-style-type: none;
  padding-left: 0;
}
.nav-bar a {
  display: flex; /* Ensures the padding on the span affects the a */
  color: inherit;
  text-decoration: inherit;
}

.nav-bar a.active {
  color: #c5d0ec;
}

.nav-bar-item {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  body {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .portfolio {
    flex-direction: column; /* Stacks columns vertically on small screens */
  }
}

.card {
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.card-header {
  margin-bottom: 12px;
}

.card-date {
  font-size: 14px;
}

.card-body {
  padding-bottom: 12px;
}

.card-title {
  text-decoration: none;
  color: #c5d0ec;
  font-size: 18px;
  font-weight: bold;
}

.card:hover .card-title {
  color: #53d3d4; /* Change color when hovering over the card */
}

.card:hover {
  border: 0.1px solid #8396bd;
  cursor: pointer;
}

.card-description {
  font-size: 14px;
  margin-top: 8px;
}

.card-technologies {
  list-style-type: none;
  padding: 0;
  margin: 12px 0 0;
  display: flex;
  flex-wrap: wrap;
}

.technology-item {
  background-color: #1c3555;
  color: #53d3d4;
  padding: 6px 12px;
  border-radius: 12px;
  font-size: 12px;
  margin-right: 8px;
  margin-bottom: 8px;
}
