:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
  --primary-color: #c5d0ec;
  --secondary-color: #53d3d4;
  --normal-color: #8396bd;
  scroll-behavior: smooth;
}

body {
  padding-left: 250px;
  padding-right: 250px;
  margin-top: 50px;
  background: rgb(16, 23, 42);
  background: linear-gradient(
    90deg,
    rgba(16, 23, 42, 1) 51%,
    rgba(17, 30, 66, 1) 100%
  );
  color: #8396bd;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

.highlight-text {
  color: var(--primary-color);
}

.portfolio {
  display: flex; /* Enables Flexbox */
  justify-content: space-between; /* Places space between the columns */
  gap: 20px; /* Optional: Adds space between columns */
}

.column {
  flex: 1; /* Each column takes up an equal amount of space */
  padding: 20px;
  min-width: 200px; /* Ensures columns don't shrink too much on smaller screens */
}

.nav-bar {
  margin-top: 75px;
  width: max-content;
}

.nav-bar ul {
  list-style-type: none;
  padding-left: 0;
}
.nav-bar a {
  display: flex; /* Ensures the padding on the span affects the a */
  color: inherit;
  text-decoration: inherit;
}

.nav-bar a.active {
  color: var(--primary-color);
}

.nav-bar-item {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.card {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgb(16, 23, 42);
}

.card-header {
  margin-bottom: 12px;
}

.card-date {
  font-size: 14px;
}

.card-body {
  padding-bottom: 12px;
}

.card-title {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 18px;
  font-weight: bold;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px #17254a;
  transform: translateY(-4px);
}
.card:hover .card-title {
  color: var(--secondary-color);
}

.card-description {
  font-size: 14px;
  margin-top: 8px;
}

.card-technologies {
  list-style-type: none;
  padding: 0;
  margin: 12px 0 0;
  display: flex;
  flex-wrap: wrap;
}

.technology-item {
  background-color: #1c3555;
  color: var(--secondary-color);
  padding: 6px 12px;
  border-radius: 12px;
  font-size: 12px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.social {
  margin-top: 300px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.social svg {
  height: 25px;
  width: 25px;
}

.social svg:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.left-column {
  position: sticky;
  top: 0; /* Sticks to the top of the viewport */
  width: 250px; /* Adjust width as needed */
  height: 100vh; /* Takes up the full height of the viewport */
  padding-top: 50px;
}

.right-column {
  padding-top: 50px;
}

.about {
  margin-bottom: 50px;
}
p {
  line-height: 1.5; /* This sets the line spacing to 1.5 times the normal spacing */
  margin-bottom: 1em; /* This adds space between paragraphs */
}

.work-expirience {
  margin-bottom: 100px;
}

.projects {
  margin-bottom: 100px;
}

.techstack {
  margin-bottom: 50px;
}

.view-resume-button {
  display: inline-flex;
  align-items: baseline;
  font-family: "Arial", sans-serif;
  font-weight: 600;
  font-size: 1rem; /* equivalent to text-base */
  color: #cbd5e1; /* equivalent to text-slate-200 */
  text-decoration: none;
  transition: color 0.3s;
  margin-top: 50px;
}

.view-resume-icon {
  display: inline-block;
  height: 1rem; /* equivalent to h-4 */
  width: 1rem; /* equivalent to w-4 */
  margin-left: 0.25rem; /* equivalent to ml-1 */
  transition: transform 0.3s;
  transform: translateY(3px); /* equivalent to translate-y-px */
}

.view-resume-button:hover .view-resume-icon,
.view-resume-button:focus .view-resume-icon {
  transform: translateX(0.25rem) translateY(-0.25rem); /* equivalent to -translate-y-1 and translate-x-1 */
}

.view-resume-button:hover {
  outline: none;
  color: #2dd4bf; /* equivalent to focus-visible:text-teal-300 */
}

.impressum-button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 25px;
}

.impressum-button {
  color: inherit;
  text-decoration: none;
  width: max-content;
}
.impressum-button:hover {
  color: var(--primary-color);
}
.back-button-container {
  display: flex;
  justify-content: start;
  margin-bottom: 3rem; /* Adjust as needed */
}

.back-button {
  display: flex;
  align-items: center;
  padding: 0.5rem 2.5rem; /* Adjust padding as needed */
  border: 2px solid var(--secondary-color); /* Replace with your secondary color variable */
  border-radius: 1.5rem; /* Rounded corners */
  background: none; /* Transparent background */
  text-decoration: none; /* Remove underline from link */
  color: inherit; /* Text color */
  font-size: 1.125rem; /* Adjust text size as needed */
  font-weight: 600; /* Semibold */
}

.arrow-icon {
  width: 24px; /* Adjust width as needed */
  height: 21px; /* Adjust height as needed */
}

/* Optional: Add hover and focus states for better UX */
.back-button:hover {
  color: var(--primary-color);
}
.arrow-icon {
  width: 24px; /* Adjust width as needed */
  height: 21px; /* Adjust height as needed */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  body {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .portfolio {
    flex-direction: column; /* Stacks columns vertically on small screens */
  }
  .social {
    margin-top: 50px;
  }

  .left-column {
    position: static; /* Removes sticky positioning */
    width: 100%; /* Takes up full width of the viewport */
    height: auto; /* Takes up the height of the content */
  }

  .hide-on-mobile {
    display: none; /* Hides elements on mobile */
  }
}
